<!--Nav bar-->
<nav id="nav">
  <!--nav bar left-->
  <div class="nav-bar_left">
    <img src="/images/logo.svg" alt="logo" />
    <!--nav list links-->
    <div class="nav-list">
      <ul class="nav-list_wrapper">
        <li class="nav-list_links">
          <a href="#features">features</a>
          <i><img class="arrow-down" src="./images/icon-arrow-down.svg" /></i>
          <!--start of sub links-->
          <ul class="nav-list_lists close">
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-todo.svg" /></i
              ><a href="#todo">todo list</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-calendar.svg" /></i>
              <a href="#calander">calander</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-reminders.svg" /></i>
              <a href="#reminder">reminders</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-planning.svg" /></i
              ><a href="#planning">planning</a>
            </li>
          </ul>
          <!--end of sub links-->
        </li>
        <li class="nav-list_links">
          <a href="#company">company</a>
          <i><img class="arrow-down" src="./images/icon-arrow-down.svg" /></i>
          <!--start of sub links-->
          <ul class="nav-list_lists nav-list_company close">
            <li class="nav-list_lists_links">
              <a href="#todo">history</a>
            </li>
            <li class="nav-list_lists_links">
              <a href="#calander">our team</a>
            </li>
            <li class="nav-list_lists_links">
              <a href="#reminder">blog</a>
            </li>
          </ul>
          <!--end of sub links-->
        </li>
        <li class="nav-list_links"><a href="#careers">careers</a></li>
        <li class="nav-list_links"><a href="#about">about</a></li>
      </ul>
    </div>
  </div>
  <!--nav bar right-->
  <div class="nav-bar_right">
    <div class="buttons-container">
      <button class="btn btn-login">login</button>
      <button class="btn btn-register">register</button>
    </div>
    <img class="menu-icon" src="./images/icon-menu.svg" alt="menu-icon" />
  </div>
</nav>
<!--slide bar-->
<aside class="aside-wrapper close_wrapper">
  <img class="close-menu" src="/images/icon-close-menu.svg" alt="close icon" />
  <div class="nav-slide">
    <!--nav list links-->
    <div class="nav-list">
      <ul class="nav-list_wrapper">
        <li class="nav-list_links">
          <a href="#features">features</a>
          <i><img class="arrow-down" src="./images/icon-arrow-down.svg" /></i>
          <!--start of sub links-->
          <ul class="nav-list_lists close">
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-todo.svg" /></i
              ><a href="#todo">todo list</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-calendar.svg" /></i>
              <a href="#calander">calander</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-reminders.svg" /></i>
              <a href="#reminder">reminders</a>
            </li>
            <li class="nav-list_lists_links">
              <i><img src="/images/icon-planning.svg" /></i
              ><a href="#planning">planning</a>
            </li>
          </ul>
          <!--end of sub links-->
        </li>
        <li class="nav-list_links">
          <a href="#company">company</a>
          <i><img class="arrow-down" src="./images/icon-arrow-down.svg" /></i>
          <!--start of sub links-->
          <ul class="nav-list_lists nav-list_company close">
            <li class="nav-list_lists_links">
              <a href="#todo">history</a>
            </li>
            <li class="nav-list_lists_links">
              <a href="#calander">our team</a>
            </li>
            <li class="nav-list_lists_links">
              <a href="#reminder">blog</a>
            </li>
          </ul>
          <!--end of sub links-->
        </li>
        <li class="nav-list_links"><a href="#careers">careers</a></li>
        <li class="nav-list_links"><a href="#about">about</a></li>
      </ul>
    </div>
    <div class="buttons-container">
      <button class="btn btn-login">login</button>
      <button class="btn btn-register">register</button>
    </div>
  </div>
</aside>
